div.site-title {
    max-width: 100%;

    h1 {
        font-family: "Ogg";
        font-size: 140px;
        line-height: 1em;
    }

    p {
        font-size: 24px;
    }

    .banner {
        width: 80%;
        margin: 32px 0;
        height: 500px;
        object-fit: cover;
        border-radius: 16px;
    }
}
