* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111111;
  color: white;
  font-family: "Mulish", sans-serif;
}

.wrapper {
  padding: 16px 32px 16px 92px;
}

.menu {
  background: #111111;
  height: 100vh;
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  translate: calc(-100vw + var(--navbar-width));
}
.menu #navbar {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  padding: 16px;
  border-right: 1px solid rgba(182, 182, 182, 0.5647058824);
}
.menu #navbar .burger {
  background: none;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}
.menu #navbar .burger span {
  height: 32px;
  width: 1px;
  background: white;
}
.menu .menu-board {
  flex-grow: 1;
  background: #111111;
  height: 100vh;
  padding: 48px;
  border-right: 1px solid rgba(182, 182, 182, 0.5647058824);
}
.menu .menu-board ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.menu .menu-board ul a {
  color: white;
  font-family: "Ogg", serif;
  text-decoration: none;
  font-size: 108px;
}
.menu .menu-board ul a:hover {
  text-decoration: underline;
}

section {
  margin: 0 0 64px 0;
}
section h1 {
  font-family: "Ogg";
  font-size: 128px;
  font-weight: 400;
  max-width: 1200px;
  line-height: 1.2em;
  position: absolute;
  top: 0;
  left: 0;
}
section#hero {
  position: relative;
  padding: 108px 0 0 0;
}
section#hero div {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
section#hero div img {
  max-height: 683px;
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 640px;
  outline: 1px solid rgba(255, 255, 255, 0.33);
  outline-offset: 8px;
}
section#hero div div {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
section#hero div div p {
  font-size: 20px;
  font-weight: 100;
}
section#hero div div div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  gap: 24px;
}
section#hero div div div a {
  white-space: nowrap;
  padding: 12px 24px;
  border-radius: 32px;
  text-decoration: none;
}
section#hero div div div a:nth-child(1) {
  background: white;
  color: #111111;
}
section#hero div div div a:nth-child(2) {
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.66);
}
section#justified-text div {
  display: flex;
  flex-direction: row;
  padding: 32px 0;
  justify-content: space-between;
}
section#justified-text div:nth-child(1) img {
  width: 50%;
  height: 176px;
  -o-object-fit: cover;
     object-fit: cover;
}
section#justified-text div:nth-child(1) h2 {
  font-size: 244px;
  font-weight: 800;
  color: #111111;
  -webkit-text-stroke: 2px #B6B6B6;
  text-transform: uppercase;
  line-height: 0.8em;
  height: -moz-fit-content;
  height: fit-content;
  transform: translatey(-16px);
}
section#justified-text div:nth-child(2) {
  font-size: 127px;
  font-weight: 800;
  color: #b6b6b6;
  text-transform: uppercase;
  line-height: 0.8em;
  height: -moz-fit-content;
  height: fit-content;
  transform: translatey(-16px);
  width: 72%;
}
section#justified-text h2 {
  font-size: 127px;
  font-weight: 800;
  color: #b6b6b6;
  text-transform: uppercase;
  line-height: 0.8em;
  height: -moz-fit-content;
  height: fit-content;
  transform: translatey(-16px);
}
section#justified-text h2 span {
  color: #111111;
  -webkit-text-stroke: 2px #B6B6B6;
}
section#justified-text p {
  font-size: 22px;
  width: 32%;
}/*# sourceMappingURL=index.css.map */